<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.MyActivity"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.MyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.AMazeActivity"
            android:label="@string/title_activity_amaze" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.GeneratingActivity"
            android:label="@string/title_activity_generating"
            android:parentActivityName=".AMazeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.AMazeActivity" />
        </activity>
        <activity
            android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName=".GeneratingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.GeneratingActivity" />
        </activity>
        <activity
            android:name="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.FinishActivity"
            android:label="@string/title_activity_finish"
            android:parentActivityName=".PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.wm.cs.cs301.jeremiahmcreynolds.amazebyjeremiahmcreynolds.ui.PlayActivity" />
        </activity>
    </application>

</manifest>
